body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  /* tengah kiri-kanan */
  align-items: center;    
  background-color: blanchedalmond;  /* tengah atas-bawah */
}

h1{
    padding: 4px;
    background-color: rgb(90, 41, 51);
    color :white;
}

.wrapper {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellowgreen;