body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: blanchedalmond;
}

.kotak1, .kotak2, .kotak3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.kotak1 {
  width: 500px;
  height: 500px;
  background: tomato;
}

.kotak2 {
  width: 350px;
  height: 350px;
  background: orchid;
}

.kotak3 {
  width: 200px;
  height: 200px;
  background: antiquewhite;
}

h1 {
  margin: 0;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
  color: tomato;
  font-size: 20px;
}
